<div class="container d-flex justify-content-around">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/applewatch img.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">APPLE WACTH</h5>
          <p class="card-text">Novo modelo com novas funções;)</p>
          <a href="#" class="btn btn-primary container-fluid">Comprar agora</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/img drunk-e.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> DRUNK ELEPHANT SKIN CARE</h5>
          <p class="card-text">Que cuidam da sua pele!</p>
          <a href="#" class="btn btn-primary container-fluid">Comprar agora</a>
        </div>
      </div>
</div>